<md-content class="md-padding cvc-nobackground">
    <md-list>
        <md-list-item style="padding-bottom: 32px">
            <label style="width: 100%"><b>{{'profile.education' | translate}}</b>
                <div class="cvc-container-border">
                    <!-- TODO: more data goes here -->
                    TODO
                </div>
            </label>
        </md-list-item>

        <md-list-item style="padding-bottom: 32px">
            <label style="width: 100%"><b>{{'profile.work_experience' | translate}}</b>
                <div class="cvc-container-border">
                    <!-- TODO: more data goes here -->
                    TODO
                </div>
            </label>
        </md-list-item>

        <md-list-item style="padding-bottom: 32px">
            <label style="width: 100%"><b>{{'profile.general_info' | translate}}</b>
                <div class="cvc-container-border">
                    <!-- TODO: more data goes here -->
                    TODO
                </div>
            </label>
        </md-list-item>
    </md-list>
</md-content>