<md-content class="md-padding cvc-nobackground">
    <md-list>
        <md-list-item>
            <div class="cvc-container-border" ng-if="profile.person.library && profile.person.library.length > 0">
                <table style="width:700px; text-align:left;">
                    <tr>
                        <th style="max-width:50px"></th>
                        <th style="max-width:450px">{{'profile.library.filename' | translate}}</th>
                        <th style="max-width:200px"></th>
                    </tr>
                    <tr ng-repeat="attachment in profile.person.library">
                        <td>
                            <span>
                                <md-tooltip md-direction="left" style="font-size:100%">
                                    {{'profile.label.remove' | translate}}
                                </md-tooltip>
                                <i ng-click="removeLibrary($index)" class="fa fa-trash fa-lg" style="cursor:pointer" aria-hidden="true"></i>
                            </span>
                        </td>

                        <td>
                            filename
                        </td>

                        <td>
                            date
                        </td>
                    </tr>
                </table>
            </div>

            <div class="cvc-container-border" style="width:700px" ng-if="!profile.person.library || profile.person.library.length === 0">
                <p>{{'profile.library.empty_list' | translate}}</p>
            </div>

            <span class="fa-stack cvc-button" style="padding-top:16px; cursor:pointer" ng-click="addLibrary()">
                <md-tooltip md-direction="left" style="font-size:100%">
                    {{'profile.label.add_library' | translate}}
                </md-tooltip>
                <i class="fa fa-plus cvc-add-button-1 fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-plus-circle cvc-add-button-2 fa-stack-2x" aria-hidden="true"></i>
            </span>
        </md-list-item>
    </md-list>

    <br>Storage usage: Xmb out of Ymb
</md-content>