<md-list class="cvc-container-border">
    <md-list-item>
        <div style="text-align:center; min-width: 100%;">
            <img class="cvc-profile-picture" src="anonymous-user-profile.jpg"/>
        </div>
    </md-list-item>

    <md-list-item>
        <md-input-container class="md-icon-float md-block" style="margin-bottom: 0">
            <label>{{'profile.username' | translate}}</label>
            <md-icon class="fa fa-user fa-lg" aria-hidden="true" style="color:DodgerBlue"></md-icon>
            <input ng-change="answerChanged()" ng-model="person.name" type="text" required/>
            <div ng-messages="person.name.$error">
                <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
        </md-input-container>
    </md-list-item>

    <md-list-item>
        <md-input-container class="md-icon-float md-block" style="margin-bottom: 0">
            <label>{{'profile.date_of_birth' | translate}}</label>
            <md-icon class="fa fa-birthday-cake fa-lg" aria-hidden="true" style="color:red"></md-icon>
            <input ng-change="answerChanged()" ng-model="person.dateOfBirth" type="date" required/>
            <div ng-messages="person.name.$error">
                <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
        </md-input-container>
    </md-list-item>

    <md-list-item>
        <label class="cvc-full-width">
            <i class="fa fa-globe fa-lg" aria-hidden="true" style="color:blue"></i>
            [COUNTRY]
        </label>
    </md-list-item>

    <md-list-item>
        <label class="cvc-full-width">
            <i class="fa fa-map-signs fa-lg" aria-hidden="true" style="color:Peru"></i>
            [CITY]
        </label>
    </md-list-item>

    <md-list-item>
        <label class="cvc-full-width">
            <i class="fa fa-envelope fa-lg" aria-hidden="true" style="color:Tan"></i>
            [EMAIL]
        </label>
    </md-list-item>

    <md-list-item>
        <label class="cvc-full-width">
            <i class="fa fa-phone fa-lg" aria-hidden="true" style="color:DarkSlateGray"></i>
            [PHONE]
        </label>
    </md-list-item>
</md-list>