<div class="card work">
    <div class="card-header">
        <h2 ng-if="!editMode">{{ experiencedata.company }} - {{ getTextKey('role') | translate}}</h2>
        <div class="editButtons" ng-if="!editMode">
            <i class="fa fa-pencil" ng-click="edit()" aria-hidden="true"></i>
            <i class="fa fa-times" ng-click="delete()" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-content" ng-if="!editMode">
        <div layout="row" layout-xs="column">
            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.industry' | translate }} </div>
                <div><b>{{ getTextKey('industry') | translate}}</b></div>
            </div>

            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.profession' | translate }} </div>
                <div><b>{{ getTextKey('profession') | translate}}</b></div>
            </div>
            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.discipline' | translate }} </div>
                <div><b>{{ getTextKey('discipline') | translate }}</b></div>
            </div>
        </div>

        <div layout="row" layout-xs="column">
            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.from' | translate }} </div>
                <div><b>{{ experiencedata.fromDate | date }}</b></div>
            </div>
            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.to' | translate }} </div>
                <div><b>{{ experiencedata.toDate | date }}</b></div>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.key_competencies' | translate }} </div>
                <div ng-repeat="kc in experiencedata.keyCompetencies">
                    <b>{{ getKeyCompetencyTextKey(kc) | translate }}</b>
                </div>
            </div>

            <div class="card-item" flex>
                <div class="label"> {{ 'profile.cv.experience.responsibilities' | translate }} </div>
                <div ng-repeat="r in experiencedata.responsibilities">
                    <b>{{ r.resptype }}</b> - {{ r.amount }}/10
                </div>
            </div>
        </div>
        
        <div layout="row">
            <div class="card-item description" flex>
                <div class="label">{{'profile.cv.experience.description' | translate}}</div>
                <div>{{ experiencedata.description }}</div>
            </div>
        </div>
    </div>

    <form name="editExperienceForm" class="card-content" ng-if="editMode" ng-submit="save()">
        <div layout="row" layout-xs="column">
            <!--COMPANY -->
            <md-input-container flex>
                <label>{{'profile.cv.experience.company' | translate}}</label>
                <input type="text" ng-model="tempData.company" required>
            </md-input-container>
        </div>

        <div layout="row" layout-xs="column">
            <!-- INDUSTRY -->
            <md-input-container flex>
                <label>{{ 'profile.cv.experience.industry' | translate }}</label>
                <md-select ng-model="tempData.industry" placeholder="{{ 'profile.cv.experience.industry' | translate }}">
                    <md-option ng-repeat="i in industries" ng-value="i.id">
                        {{ i.textKey | translate }}
                    </md-option>
                </md-select>
            </md-input-container>

            <!-- PROFESSION -->
            <md-input-container flex>
                <label>{{ 'profile.cv.experience.profession' | translate }}</label>
                <md-select ng-model="tempData.profession" placeholder="{{ 'profile.cv.experience.profession' | translate }}" ng-change="resetDiscipline()">
                    <md-option ng-repeat="c in competenceHierarchy" ng-value="c.id">
                        {{ c.textKey | translate }}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" layout-xs="column">
            <!-- DISCIPLINE -->
            <md-input-container flex>
                <label>{{ 'profile.cv.experience.discipline' | translate }}</label>
                <md-select ng-model="tempData.discipline" placeholder="{{ 'profile.cv.experience.discipline' | translate }}" ng-change="resetRole()">
                    <md-option ng-repeat="d in disciplines()" ng-value="d.id">
                        {{ d.textKey | translate }}
                    </md-option>
                </md-select>
            </md-input-container>

            <!-- ROLE -->
            <md-input-container flex>
                <label>{{ 'profile.cv.experience.role' | translate }}</label>
                <md-select ng-model="tempData.role" placeholder="{{ 'profile.cv.experience.role' | translate }}" ng-change="resetKeyCompetencies()">
                    <md-option ng-repeat="r in roles()" ng-value="r.id">
                        {{ r.textKey | translate }}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>
        <div layout="row" layout-xs="column">
            <!-- KEY COMPETENCES -->
            <md-input-container flex>
                <label>{{ 'profile.cv.experience.key_competencies' | translate }}</label>
                <md-select ng-model="tempData.keyCompetencies" placeholder="{{ 'profile.cv.experience.key_competencies' | translate }}" multiple="true">
                    <md-option ng-repeat="kc in keyCompetencies()" ng-value="kc.id">
                        {{ kc.textKey | translate }}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="inputLabel">{{ 'profile.cv.experience.responsibilities' | translate}}</div>
        <div ng-repeat="resp in tempData.responsibilities" layout="row" class="responsibilityRow">
            <i class="fa fa-trash-o removeButton" aria-hidden="true" ng-click="removeResponsibility(resp)" flex="5"></i>
            <md-input-container>
                <input type="text" ng-model="resp.resptype" aria-label="responsibility description">
            </md-input-container>
            <md-slider-container flex>
                <md-slider min="0" max="10" step="1" md-discrete ng-model="resp.amount" aria-label="amount" id="resp-amount-slider">
                </md-slider>
            </md-slider-container>
        </div>

        <button class="cvc-button centered" ng-click="addResponsibility()" type="button">
            {{ 'probile.label.add_responsibility' | translate }}
        </button>

        <div layout="row" layout-xs="column">
            <md-input-container flex>
                <label>{{'profile.cv.experience.from' | translate}}</label>
                <input type="date" ng-model="tempData.fromDate" required>
            </md-input-container>

            <md-input-container flex>
                <label>{{'profile.cv.experience.to' | translate}}</label>
                <input type="date" ng-model="tempData.toDate" required>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-input-container flex>
                <label>{{'profile.cv.experience.description' | translate}}</label>
                <textarea ng-model="tempData.description" required>
            </md-input-container>
        </div>
        
        <div layout="row">
            <button type="submit" class="cvc-button" ng-disabled="editExperienceForm.$invalid || tempDataHasNulls()" flex>
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'profile.save' | translate | capitalize }}
            </button>
            <button class="cvc-button" ng-click="cancel()" flex>
                <i class="fa fa-ban" aria-hidden="true"></i> {{ 'profile.cancel' | translate | capitalize }}
            </button>
        </div>
    </form>
</div>