body {
    background-color: #bbb;
}

.cvc-page-title {
    padding-left: 30px;
    font-weight: bold;
}

.cvc-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 80%;
}

.cvc-main-select-card {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.cvc-main-select-card:hover {
    -o-transform: scale(1.04,1.04);
    -moz-transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    transform: scale(1.04,1.04);
}

.cvc-profile-username {
    font-weight: bold;
    max-width: 90%;
    border-style: none;
}

.cvc-padding-lmd {
    padding-left: 10px;
}

.cvc-padding-rxs {
    padding-right: 5px;
}

.cvc-profile-name {
    font-weight: bold;
    font-size: 200%;
}

.cvc-menubar {
    background-color: transparent;
}

.cvc-profile-card-header {
    font-size: 120%;
    font-weight: bold;
}