<div layout="column" ng-if="!selectedSearchCriteria">
    <div class="md-padding" style="padding-bottom:0; padding-top:0">
        <ng-include src="'partials/company/tabs/searches/criterias.html'"/>
    </div>
    <div class="md-padding" style="padding-top:0">
        <ng-include src="'partials/company/tabs/searches/results.html'"/>
    </div>
</div>
<div layout="column" ng-if="selectedSearchCriteria">
    <div class="md-padding" style="padding-bottom:0; padding-top:0">
        <ng-include src="'partials/company/tabs/searches/criteria.html'"/>
    </div>
</div>