$backgroundColor: #f7f7f7;
$headerColor: #212121;
$footerColor: #212121;
$menuItemColor: #38de7e;

$educationCardColor: #24495b;
$workCardColor: #245b3b;
$generalCardColor: #3a245b; 

$headerHeight: 150px;
$footerHeight: 150px;

$mobileCssQuery: "all and (max-width: 680px)";
$mobileCssQuery-landscape: "all and (max-width:680px) and (orientation:landscape)";