@import 'variables';
@import 'mixins';
@import 'header';

html, body {
    height: 100%;
    background-color:$backgroundColor;
}

*:focus {
    outline:none;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

/* md-select fix for font not supporting '\25BC' */ 
.md-select-icon {
  font-family: sans-serif;
}

.padding {
    padding:20px;
}

#contentWrapper {
    width:90%;
    margin:20px auto;

    .sidebar {
        display: inline-block;
        padding:20px;
        width: 20%;
        text-align:center;
        @media #{$mobileCssQuery}{
            width:100%;
            display: block;
            margin:0;
            margin-bottom:20px;
            &.hidden {
                display: none;
            }
        }
    }

    .content {
        display: inline-block;
        vertical-align: top;
        width: 79%;
        margin-left: 1%;
        @media #{$mobileCssQuery}{
            width:100%;
            display: block;
            margin:0;
        }
    }
}

.sidebar .personInfo .info {
    margin: 25px auto;
    
    label {
        color: $gray-medium;
        font-size:0.9em;
    }

    input {
        width: 100%;
        font-weight:bold;
        border: none;
        text-align:center;
        &#name {
            font-size:1.2em;
        }
    }
}

.profilePicContainer {
    margin:10px auto 30px;
    & img{
        max-height:100%;
        max-width:100%;
        border-radius:100%;
    }
}

.inline-block-fix {
    font-size:0pt;
    & > * {
        font-size:11pt;
    }
}

.sidebar, .content {
    @include boxShadow();
    background-color:white;
}

ng-form.formly {
    width:100%;
    text-align:center;
}

.cvHeader {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
    h1 {
        margin:0;
        flex-grow:1;
    }

    .savePdf{
        display: flex;
        align-items: center;
        font-size: 0.8em;
        cursor:pointer;
        .fa {
            margin-right: 10px;
            color:#ce3c3c;
        }
    }
}

.cvWrapper {
    padding:20px;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -$footerHeight;
    &:after {
        content:"";
        display: block;
    }
}

.cvc-footer, .page-wrap:after {
    height: $footerHeight;
}

.cvc-footer {
    background:$footerColor;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width:100%;
    background-color:white;
    margin-bottom:20px;
    @include boxShadow();

    &.work .card-header{
        background-color: $workCardColor;
    }

    &.education .card-header {
        background-color: $educationCardColor;
    }

    &.general {
        &#languages, &#compensation {
            width:49%;
            display: inline-block;
            vertical-align: top;

            @media #{$mobileCssQuery}{
                display: block;
                width:100%;
                margin-left:0;
                margin-right:0;
            }
        }

        &#languages {
            margin-right:1%;
        }

        &#compensation {
            margin-left:1%;
        }

    }

    .card-header {
        background-color: $generalCardColor;
        min-height:19px;
        color:white;
        padding:10px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1, h2, h3, h4 {
            margin:0;
            flex-grow:1;
        }
        .editButtons {
            padding:0px 5px;
        }
    }

    .card-content {
        padding:20px;
        .card-item {
            margin-top:10px;
            margin-bottom:10px;
            text-align:center;
            &.description {
                text-align:left;
            }
            .label {
                color: $gray-medium;
            }
        }

        .description {
            margin-top:20px;
        }
    }
}

.editButtons {
    .fa {
        cursor:pointer;
        color:#c4c4c4;
        margin:0 2px;
        // transition:color 0.3s;
    }

    .fa-times:hover {
        color:#fa582f;
    }

    .fa-pencil:hover{
        color:#e1a535;
    }

    .fa-ban:hover {
        color:$gray-medium;
    }

    .fa-floppy-o:hover{
        color:#009900;
    }

//     fa-floppy-o
// fa-ba
}

.cvc-button {
    background-color: white;
    border: none;
    outline: 0;
    padding: 10px 20px;
    margin: 10px;
    -webkit-box-shadow: 0px 3px 20px -8px rgba(33,33,33,.56);
    -moz-box-shadow: 0px 3px 20px -8px rgba(33,33,33,.56);
    box-shadow: 0px 2px 14px -3px rgba(69, 69, 69, 0.56);
    border-radius: 3px;
    transition: box-shadow 0.5s;
    &:hover {
        transition: box-shadow 0.5s;
        -webkit-box-shadow: 0px 3px 20px -8px rgba(33,33,33,.5);
        -moz-box-shadow: 0px 3px 20px -8px rgba(33,33,33,.5);
        box-shadow: 0px 2px 14px -2px rgba(69,69,69,.5);
    }
}

.centered {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.bigAndBold {
    font-size:1.7em;
    font-weight:bold;
}

@import 'cv';