<h4>{{'profile.cv.education.high_school' | translate}} </h4>
<high-school-card
    type="high_school"
    educationdata="cvData.high_school"
    onsave="updateHighschool(data)"
    ondelete="clearHighschool()"></high-school-card>

<h4>{{'profile.cv.education.higher_education' | translate}}</h4>
<education-card 
    ng-repeat="highEd in cvData.education"
    type="university"
    educationdata="highEd"
    onsave="saveEducation($index, data)"
    ondelete="removeEducation($index)"></education-card>

<button class="cvc-button centered" ng-click="addEducation()">
    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'profile.label.add_education' | translate }}
</button>

<!--<div layout="row" layout-xs="column" layout-wrap>
    <div felx="auto" flex>
        <label><b>{{'profile.cv.education.high_school' | translate}}</b></label>
        <md-card class="cvc-container-border cvc-nobackground">
            <md-card-header>
                <md-card-header-text>
                    <div layout-align-xs="column" layout="row" layout-align="start">
                        <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                            <label>{{'profile.cv.education.name' | translate}}</label>
                            <input type="text" ng-change="answerChanged()" ng-model="profile.person.cv.high_school.name" maxlength="40" style="font-weight:bold; font-size:120%"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                            <label>{{'profile.cv.education.from' | translate}}</label>
                            <input type="date" ng-change="answerChanged()" ng-model="profile.person.cv.high_school.fromData"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                            <label>{{'profile.cv.education.to' | translate}}</label>
                            <input type="date" ng-change="answerChanged()" ng-model="profile.person.cv.high_school.toDate"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0; min-width:250px">
                            <md-select ng-change="answerChanged()" ng-model="profile.person.cv.high_school.faculty" placeholder="{{'profile.cv.education.faculty' | translate}}">
                                <md-option ng-value="faculty.id" ng-repeat="faculty in education_high_school_major">{{faculty.textKey | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding-top:0">
                <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                    <label>{{'profile.cv.education.description' | translate}}</label>
                    <textarea ng-change="answerChanged()" ng-model="profile.person.cv.school.description" maxlength="1000"></textarea>
                </md-input-container>
            </md-card-content>
        </md-card>
    </div>
</div>
<br>
<label><b>{{'profile.cv.education.higher_education' | translate}}</b></label>
<div layout="row" layout-xs="column" layout-wrap>
    <div felx="auto" style="width:23%; margin:10px" ng-repeat="education in profile.person.cv.education">
        <md-card class="cvc-container-border cvc-nobackground">
            <md-card-header>
                <md-card-header-text>
                    <md-input-container class="md-icon-float md-block" style="margin:0; padding:0">
                        <label>{{'profile.cv.education.name' | translate}}</label>
                        <input type="text" ng-change="answerChanged()" ng-model="education.school" maxlength="40" style="font-weight:bold; font-size:120%" required/>
                    </md-input-container>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <md-select ng-change="answerChanged()" ng-model="education.degree" placeholder="{{'profile.cv.education.degree' | translate}}">
                        <md-option ng-value="degree.id" ng-repeat="degree in degrees">{{degree.textKey | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <md-select ng-change="answerChanged()" ng-model="education.faculty" placeholder="{{'profile.cv.education.faculty' | translate}}">
                        <md-option ng-value="faculty.id" ng-repeat="faculty in faculties">{{faculty.textKey | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" style="margin:0; padding:0">
                    <label>{{'profile.cv.education.from' | translate}}</label>
                    <input type="date" ng-change="answerChanged()" ng-model="education.fromDate"/>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" style="margin:0; padding:0">
                    <label>{{'profile.cv.education.to' | translate}}</label>
                    <input type="date" ng-change="answerChanged()" ng-model="education.toDate"/>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" style="margin:0; padding:0">
                    <label>{{'profile.cv.education.description' | translate}}</label>
                    <textarea ng-change="answerChanged()" maxlength="1000" ng-model="education.description"></textarea>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <span>
                    <md-tooltip md-direction="left" style="font-size:100%">
                        {{'profile.label.remove' | translate}}
                    </md-tooltip>
                    <i ng-click="removeEducation($index)" class="fa fa-trash fa-lg" style="cursor:pointer" aria-hidden="true"></i>
                </span>
            </md-card-actions>
        </md-card>
    </div>
</div>

<p ng-if="!profile.person.cv.education || profile.person.cv.education.length === 0">
    {{'profile.cv.education.empty_list' | translate}}
</p>-->