<div layout="row" layout-xs="column" layout-wrap>
    <div felx="auto" style="width:48%; margin:10px" ng-repeat="experience in profile.person.cv.experience">
        <md-card class="cvc-container-border cvc-nobackground">
            <md-card-header>
                <md-card-header-text>
                    <div layout="row" layout-xs="column">
                        <md-input-container class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                            <label>{{'profile.cv.experience.company' | translate}}</label>
                            <input type="text" ng-change="answerChanged()" ng-model="experience.company" maxlength="40" style="font-weight:bold; font-size:120%" required/>
                        </md-input-container>
                        <md-input-container flex="23" class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0; font-size:80%">
                            <label>{{'profile.cv.experience.from' | translate}}</label>
                            <input type="date" ng-change="answerChanged()" ng-model="experience.fromDate"/>
                        </md-input-container>
                        <md-input-container flex="23" class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0; font-size:80%">
                            <label>{{'profile.cv.experience.to' | translate}}</label>
                            <input type="date" ng-change="answerChanged()" ng-model="experience.toDate"/>
                        </md-input-container>
                    </div>
                    <md-card-subhead>
                        <div layout="row" layout-xs="column">
                            <md-input-container flex class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                                <md-select ng-change="answerChanged()" ng-model="experience.industry" placeholder="{{'profile.cv.experience.industry' | translate}}">
                                    <md-option ng-value="industry.id" ng-repeat="industry in industries">{{industry.textKey | translate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" style="margin-top:20px">
                            <md-input-container flex="50" class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                                <md-select ng-change="answerChanged()" ng-model="experience.profession" placeholder="{{'profile.cv.experience.profession' | translate}}">
                                    <md-option ng-value="profession.id" ng-repeat="profession in professions">{{profession.textKey | translate}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex="50" class="md-icon-float md-block" style="margin:0; padding:0 20px 0 0">
                                <md-select ng-change="answerChanged()" ng-model="experience.role" placeholder="{{'profile.cv.experience.role' | translate}}">
                                    <md-option ng-value="role.id" ng-repeat="role in roles">{{role.textKey | translate}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-chips ng-model="experience.keyCompetencies" 
                                  name="keyCompetencies"
                                  readonly="false" 
                                  md-removable="true" 
                                  md-max-chips="3" 
                                  placeholder="{{'profile.cv.experience.key_competencies' | translate}}" 
                                  secondary-placeholder="{{'profile.cv.experience.key_competencies.add' | translate}}"
                                  delete-hint="{{'profile.cv.experience.key_competencies.delete_hint' | translate}}"
                                  delete-button-label="{{'profile.cv.experience.key_competencies.delete' | translate}}">
                            <md-chip-template>
                                <strong>{{$chip}}</strong>
                            </md-chip-template>
                        </md-chips>
                    </md-card-subhead>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-input-container class="md-icon-float md-block" style="margin:0; padding:0">
                    <label>{{'profile.cv.experience.description' | translate}}</label>
                    <textarea ng-change="answerChanged()" ng-model="experience.description" maxlength="1000"></textarea>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <span>
                    <md-tooltip md-direction="left" style="font-size:100%">
                        {{'profile.label.remove' | translate}}
                    </md-tooltip>
                    <i ng-click="removeWork($index)" class="fa fa-trash fa-lg" style="cursor:pointer" aria-hidden="true"></i>
                </span>
            </md-card-actions>
        </md-card>
    </div>
</div>

<p ng-if="!profile.person.cv.experience || profile.person.cv.experience.length === 0">
    {{'profile.cv.experience.empty_list' | translate}}
</p>