<ng-include ng-if="hasSignedIn()" src="'partials/company/toolbar.html'"></ng-include>

<div layout="row" class="cvc-transparent">
    <div flex="40" class="md-padding">
        <ng-include src="'partials/company/profile.html'"/>
    </div>
    <div flex="60" class="md-padding">
        <ng-include src="'partials/company/events.html'"/>
    </div>
    <div flex hide-sm hide-xs></div>
</div>
<div layout="column">
    <div class="md-padding" style="padding-bottom:0; padding-top:0">
        <ng-include src="'partials/company/search_criteria.html'"/>
    </div>
    <div class="md-padding" style="padding-top:0">
        <ng-include src="'partials/company/search_results.html'"/>
    </div>
</div>