<div class="cvc-footer" layout="row" layout-align="center center" md-whiteframe="2" flex>
    <label style="padding-right:10px">Company &copy; 2016 XXXX</label>
    <label style="padding-right:10px">YYYY</label>
    <label style="padding-right:5px">{{'label.selectLanguage' | translate}}</label>
    <label ng-if="translations">
        <span class="cvc-language-select cvc-button" ng-repeat="translation in translations" ng-click="changeLanguage(translation)">
            <img ng-class="getCSS(translation)" src="{{getFlagURL(translation)}}" alt="{{translation}}"/>
        </span>
        <span class="cvc-padding-lmd">&nbsp;&nbsp;</span>
    </label>
</div>
