<md-toolbar class="md-medium-tall cvc-header" layout="row" md-whiteframe="4">
    <h1 style="cursor: default;" class="md-display-1 cvc-page-title cvc-header-title-color">{{'page_title' | translate}}</h1>
    <div flex></div>
    <md-button class="md-accent" style="text-transform:none; color: #343434; font-weight: bold" ng-click="showWhy($event)">{why.title}</md-button>
    <md-button class="md-accent" style="text-transform:none; color: #343434; font-weight: bold" ng-click="showAbout($event)">{about.title}</md-button>
    <div style="padding-left: 10px; padding-right: 10px; min-width: 160px">
        <div class="fb-like md-display-1" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div><a href="https://twitter.com/share" class="twitter-share-button" data-via="me"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a></div>
    </div>
</md-toolbar>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
