<div layout="column" layout-fill>
    <header>
        <md-toolbar class="md-medium-tall" layout="row" md-whiteframe="4">
            <h1 class="md-display-1 cvc-page-title">{{'common.page_title' | translate}}</h1>
            <div flex></div>
        </md-toolbar>
    </header>

    <!-- TODO: if the user has not signed in display welcome page, else goto user page -->

    <main class="md-padding cvc-mainselect" layout="row" layout-align="center" flex>
        <div layout="row" layout-xs="column">
            <div flex>
                <md-card class="animated fadeIn">
                    <img src="logo-company.jpg" class="md-card-image" alt="{{'common.company' | translate}}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'common.company' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{{'company.mainpage.description' | translate}}</p>
                    </md-card-content>
                </md-card>
            </div>
            <div flex class="animated fadeIn">
                <md-card>
                    <img src="logo-user.jpg" class="md-card-image" alt="{{'common.user' | translate}}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'common.user' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{{'user.mainpage.description' | translate}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </main>

    <footer>
        <div class="cvc-footer" layout="row" layout-align="center center" md-whiteframe="2" flex>
            Company &copy; 2016 TODO: Footer (fix: screen height is smaller than page height)
        </div>
    </footer>
</div>