<ng-include ng-if="hasSignedIn()" src="'partials/person/toolbar.html'"></ng-include>

<form name="personForm" class="cvc-nobackground" ng-if="hasSignedIn()" style="z-index: 2" autocomplete="on">
    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="cvc-nobackground">
            <ng-include src="'partials/person/sidebar.html'"></ng-include>
        </md-sidenav>

        <md-content flex id="content" class="cvc-nobackground">
            <md-tabs md-dynamic-height md-border-bottom class="cvc-container-border">
                <md-tab ng-repeat="(tab, icon) in {'dashboard':'fa-bar-chart', 'cv':'fa-file-text', 'library':'fa-folder-open', 'settings':'fa-cog'}">
                    <md-tab-label>
                        <i class="fa fa-2x {{icon}}" aria-hidden="true"></i>
                        <div>{{'profile.' + tab | translate}}</div>
                    </md-tab-label>
                    <md-tab-body>
                        <ng-include src="getTabFile(tab)"/>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</form>

<div style="min-height:5.6vh"></div>