<ng-include ng-if="hasSignedIn()" src="getToolbar()"></ng-include>

<form name="personForm" class="cvc-nobackground" ng-if="hasSignedIn()" style="z-index: 2" autocomplete="on">
    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="cvc-nobackground">
            <ng-include src="getSidebar()"></ng-include>
        </md-sidenav>

        <md-content flex id="content" class="cvc-nobackground">
            <md-tabs md-dynamic-height md-border-bottom class="cvc-container-border">
                <md-tab label="{{'profile.' + tab | translate}}" ng-repeat="tab in ['dashboard', 'cv', 'settings']">
                    <ng-include src="getTabFile(tab)"/>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</form>

<div style="min-height:5.6vh"></div>