<md-toolbar layout="row" style="background-color: rgb(125,126,125); min-height: 32px" md-whiteframe="4">
    <md-button class="md-raised md-warn" ng-disabled="!valuesChanged" ng-click="cancel()"><i class="fa fa-ban" aria-hidden="true"></i> {{'profile.cancel' | translate}}</md-button>
    <md-button class="md-raised md-primary" ng-disabled="!valuesChanged" ng-click="save()"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{'profile.save' | translate}}</md-button>
    <md-button class="md-raised" style="background-color: red; color:white" ng-click="generatePDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{'profile.generate_pdf' | translate}}</md-button>
    <div flex></div>
    <cvc-screen-message ng-if="hasScreenMessage()"></cvc-screen-message>
    <div flex></div>
    <md-button class="md-raised md-primary md-hue-2" style="text-transform:none" ng-disabled="!hasSignedIn()">
        <i class="fa fa-commenting-o fa-lg cvc-padding-rxs" aria-hidden="true"></i>Messages (0)
    </md-button>
    <md-button class="md-raised md-primary" style="text-transform:none" ng-click="signOut()" ng-disabled="!hasSignedIn()">
        <i class="fa fa-sign-out fa-lg cvc-padding-rxs" aria-hidden="true"></i>Sign out
    </md-button>
</md-toolbar>

<form name="personForm" class="cvc-nobackground" ng-if="hasSignedIn()" style="z-index: 2">
    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="cvc-nobackground">
            <md-list class="cvc-container-border">
                <md-list-item>
                    <img class="cvc-profile-picture" src="anonymous-user-profile.jpg"/>
                </md-list-item>

                <md-list-item>
                    <md-input-container class="md-block cvc-full-width" style="margin-bottom: 0">
                        <label>{{'profile.username' | translate}}</label>
                        <input ng-change="answerChanged()" name="name" ng-model="person.name" required/>
                        <div ng-messages="person.name.$error">
                            <div ng-message="required">{{'error.required' | translate}}</div>
                        </div>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-birthday-cake cvc-padding-rxs" aria-hidden="true"></i>
                        <md-datepicker class="cvc-nobackground" ng-change="answerChanged()" md-min-date="MIN_DATE" md-max-date="MAX_DATE" md-placeholder="{{'profile.date_of_birth' | translate}}" ng-required="true" ng-model="person.dateOfBirth"></md-datepicker>
                    </label>
                </md-list-item>

                <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-globe cvc-padding-rxs" aria-hidden="true"></i>
                        [COUNTRY]
                    </label>
                </md-list-item>

                <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-map-signs cvc-padding-rxs" aria-hidden="true"></i>
                        [CITY]
                    </label>
                </md-list-item>

                <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        [EMAIL]
                    </label>
                </md-list-item>

                <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        [PHONE]
                    </label>
                </md-list-item>

                 <md-list-item>
                    <label class="cvc-full-width">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        [ACTIVE]
                    </label>
                </md-list-item>
            </md-list>
        </md-sidenav>

         <md-content flex id="content" class="cvc-nobackground">
            <md-list class="cvc-container-border">
                <md-list-item style="padding-bottom: 32px">
                    <label style="width: 100%"><b>{{'profile.settings' | translate}}</b>
                        <div class="cvc-container-border">
                            <!-- TODO: more data goes here -->
                        </div>
                    </label>
                </md-list-item>

                <md-list-item style="padding-bottom: 32px">
                    <label style="width: 100%"><b>{{'profile.education' | translate}}</b>
                        <div class="cvc-container-border">
                            <!-- TODO: more data goes here -->
                        </div>
                    </label>
                </md-list-item>

                <md-list-item style="padding-bottom: 32px">
                    <label style="width: 100%"><b>{{'profile.work_experience' | translate}}</b>
                        <div class="cvc-container-border">
                            <!-- TODO: more data goes here -->
                        </div>
                    </label>
                </md-list-item>

                <md-list-item style="padding-bottom: 32px">
                    <label style="width: 100%"><b>{{'profile.general_info' | translate}}</b>
                        <div class="cvc-container-border">
                            <!-- TODO: more data goes here -->
                        </div>
                    </label>
                </md-list-item>

                <md-list-item style="padding-bottom: 32px">
                    <label style="width: 100%"><b>{{'profile.attachments' | translate}}</b>
                        <div class="cvc-container-border">
                            <!-- TODO: more data goes here -->
                        </div>
                    </label>
                </md-list-item>
            </md-list>
         </md-content>
    </div>
</form>