<md-content id="cvcWelcome" class="md-padding cvc-transparent" layout-align-lg="column" layout="row" layout-align="center center">
    <main class="md-padding" layout="column" layout-align="center center" flex>
        <h1 class="animated fadeIn cvc-title-color cvc-welcome-text cvc-welcome-title-delay">{{'home.select_user_or_company' | translate}}</h1>
        <label class="animated fadeIn cvc-subtitle cvc-welcome-title-delay">{{'home.subtitle' | translate}}</label>
        
        <main class="md-padding" layout="row" layout-align="space-around start" flex>
            
            <div class="animated fadeInLeft" style="animation-delay: 0.6s">
                <md-card id="cvcCompanyMainCard" class="cvc-welcome-company cvc-main-select-card" ng-click="signInCompany('')">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="cvc-welcome-card-text">{{'home.company.description' | translate}}</p>
                    </md-card-content>
                </md-card>
            </div>

            <div class="animated fadeInRight" style="animation-delay: 0.6s">
                <md-card id="cvcPersonMainCard" class="cvc-welcome-person cvc-main-select-card" onclick="$('#cvcPersonMainCard').hide(); $('#cvcPersonLoginCard').show();">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="cvc-welcome-card-text">{{'home.user.description' | translate}}</p>
                    </md-card-content>
                </md-card>

                <div id="cvcPersonLoginCard" class="animated flipInY" style="display: none">
                    <md-card class="cvc-main-select-card" style="cursor: default;">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">
                                    <p ng-repeat="provider in loginProviders" ng-if="loginProviders && loginProviders.length > 0">
                                        <md-button id="{{provider}}SignIn" style="min-width: 95%" class="md-raised" ng-click="signInPerson(provider)"><i ng-class="getProviderCSS(provider)" aria-hidden="true"></i> {{'home.sign_in_using' | translate}} {{provider}}</md-button>
                                    </p>


<form action="auth/local/login" method="post" ng-if="$location.path().toString().indexOf('localhost') !== -1">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign in">
</form>

                                    <p ng-if="loginProviders.length === 0">
                                        <!-- TODO: display error message -->
                                    </p>
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p class="cvc-welcome-card-text">{{'home.select_sign_in_method' | translate}}</p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </main>
    </main>
</md-content>
<div style="min-height:13.2vh"></div>

<!-- TODO: when using Local or HTTP login, we need a form input

<form action="auth/http/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign in">
</form>

-->